* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: #00b31e;
  --dark-blue: #fca311;
  --light: rgb(245, 245, 245);
  --bgc: #14213d;
  --accent: #fca311;
}
.author {
  margin-bottom: 5px;
  text-align: right;
  font-size: 8px;
  color: #fff;
}
body {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bgc);
}
@media (min-width: 600px) {
  body {
    width: 100%;
  }
  .todo {
    width: 60%;
  }
}
.title {
  background-color: var(--bgc);
  overflow: hidden;
  padding-bottom: 20px;
}
h1 {
  color: var(--light);
  text-transform: uppercase;
}

.fas {
  pointer-events: none;
}

.todo {
  overflow: hidden;
  max-width: 100%;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.header {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  padding: 20px;
  background-color: var(--accent);
}

.todo-input {
  flex: .5;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: #e5e5e5;
}

.error-info {
  margin-top: 20px;
  color: var(--dark-blue);
}

.btn-add {
  align-self: center;
  flex: 1;
  margin: 20px;
  padding: 15px 33px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #e5e5e5;
  background-color: var(--light-dark);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.btn-add:hover {
  /* transform: scale(.97); */
  color: #fff;
  background-color: var(--dark-blue);
  border: 2px solid #fff;
}

.todolist {
  padding: 40px 0;
  background-color: ;
}

.todolist h3 {
  text-transform: uppercase;
  margin-bottom: 16px;
}

.todolist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.tools {
  display: inline-block;
}

.tools button {
  padding: 15px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #ddd;
}

.complete {
  color: var(--light-blue);
}

.edit {
  font-weight: bold;
  color: var(--light-dark);
}

.delete {
  color: tomato;
}

.completed {
  font-size: 12px;
  color: var(--light-dark);
  text-decoration: line-through;
  font-style: italic;
}

.popup {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  color: var(--light);
  background-color: var(--light-dark);
  border-radius: 5px;
}

.popup h3 {
  padding: 20px;
}

.popup-info {
  color: #fca311;
  margin-bottom: 20px;
}

.popup-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}

.popup-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: var(--light-dark);
  background-color: var(--light);
}

.popup-btn {
  display: inline-block;
  padding: 10px 22px;
  margin: 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: var(--deep-dark);
  background-color: var(--light);
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.popup-btn:hover {
  color: #fff;
  background-color: var(--light-dark);
  border: 2px solid #fff;
}
@media (max-width: 600px) {
  .popup {
    width: 100%;
  }
}
